/* General CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}


.general-button{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-size: 0.8rem;
    padding: 0 1.2em;
    display: block;
}

.general-button:hover{
    background-color: rgb(98, 98, 98);
    color: aliceblue;
}

.back-to-top{
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    bottom: 40px;
    z-index: 97;
}

.back-to-top a i{
    font-size: 1rem;
    transform: rotate(-90deg);
}

.signature{
    position: absolute;
    top: 20px;
    left: 40px;
}

.signature img{
    width: 40px;
}

/* NAVIGATION CSS START */

#click:checked ~.nav-links{
    right: 0px;
}

#click:checked ~ #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
   
}


.navigation input{
    display: none;
}


.nav-links{

    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 0px 0 100px;
    position: fixed;
    right: -2000px;
    top: 0;
    justify-content: center;
    transition: 0.5s ease;
    z-index: 100;

    
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    
  
}

a,i,.menu{
    color: rgb(0, 0, 0);
}

.nav-links a:not(.menu){
    font-size: 2rem;
    
}

.nav-links li i{
    font-size: 1.2rem;
}

.nav-links li{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 20px;
    gap: 40px;
    list-style: none;
   
}

/* .nav-links li a:hover{
    scale: 1.3;
} */

.nav-links a::after{
    content:attr(data-text);
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    transform: rotate(80deg) scale(1);
    bottom: 43%;
    right:30%;
    color: transparent;
    -webkit-text-stroke: 2px lightcoral;
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li a:hover::after {
    opacity: 1;
    transform: rotate(90deg) scale(2.0);
}

.menu{
    font-size: 3rem;
   
}

.fa-bars{
    color:black;
    font-size: 1.4rem;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 3px 5px; 
    position: fixed;
    right: 20px;
    top:20px;
    z-index: 99;
}

.fa-xmark{
    font-size: 1rem;
    position: absolute;
    top:20px;
    left: 20px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 2px 4px;
    border-radius: 50px;
}

.fa-xmark:hover{
    background: rgb(214, 0, 0);
    color: rgb(255, 255, 255);
}



@media (max-width:768px){
    
    .nav-links{
       padding: 30px 0px 0 40px;
       width: 60%;
    }
    
    .nav-links li{
        margin: 5px 0;
    }

    .nav-links a::after{
       
        bottom: 43%;
        right:5%;
       
    }

    .nav-links li a:hover::after {
        opacity: 1;
        transform: rotate(90deg) scale(2);
    }
}

/* NAVIGATION CSS END */

/* HERO SECTION START */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    
   
}

h1{
    font-size: 5rem;
    font-weight: 900;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    
}
.hero-content p{
    font-size: 1.1rem;
}

h1,.hero-content p{
    text-align: center;
    
}

.hero-buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.hero-buttons button{
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: none;
    font-size: 1rem;
    padding: 0 1.2em;
   
}

.connect-button{
    box-shadow: 1px 1px 6px  rgb(255, 95, 162),-1px -1px 6px  rgb(254, 201, 154);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.connect-button:hover{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    color: aliceblue;
    box-shadow: none;
}

@media (max-width:768px){
    
    h1{
        font-size: 3rem;
        font-weight: 500;
    }
    .hero-content p{
        font-size: 1rem;
    } 

    .hero-content p:first-of-type{
        margin: 40px 0 20px 0;
    } 
    .hero-content p:last-of-type{
        width: 60%;
        margin: 0 auto;
    } 

    .hero-buttons{
       
        margin-top: 60px;
      }
}
    



/* HERO SECTION END */

/* SKILL SECTION START */


.figma{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.framer{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}
.html{
    display: grid;
    grid-template-columns: 3fr 1fr;
   
}
.css{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.javascript{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tailwind{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.percentage-can{
    
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.percentage-cant{
    background-color: rgba(107, 107, 107, 0.361);
    height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.skill-states h3{
    margin: 20px 0;
}

.my-skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    align-items: end;
    width: 60%;
    justify-content: center;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: aliceblue;
   
}
.skills-heading{
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width:768px){
    .my-skills-container{
        width: 75%;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .skill-states h3{
        margin: 15px 0;
        font-size: 1rem;
    }
}
/* SKILL SECTION END */

/* ABOUT ME START */


.about-me-container h2{
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    
   
}
.about{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 30px 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-me-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 30px;
    height: 80%;
    justify-content:space-around;
    align-items: center;
    width: 90%;
    position: relative;
   
   
    background: rgba(255, 255, 255, 0.39);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.about-me-container p{
    text-align: center;
}




/* ABOUT ME END */
 

/* PROJECTS CSS */
.project-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150px;
    position: relative;
}

.fa-arrow-up-long{
    color: black;
    font-size: 2rem;
    transform: rotate(90deg);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(255, 95, 162),-1px -1px 10px  rgb(254, 201, 154) ;

    padding: 10px 15px;
    border-radius: 100px;
    position: absolute;
    right: -40px;
    bottom:-10px;
    transition: all 0.3s ease;
}


.project-title{
    font-size: 1.5rem;
    margin-top: 5px;
    text-align: center;
}
.project-detail{
    font-size: 1rem;
    margin-top: 10px;
}

.project-stats{
    margin: 20px auto 0 auto;
    font-size: 0.8rem;
    width: fit-content;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    box-shadow: 1px 1px 10px  rgba(255, 95, 162, 0.212), -1px -1px 10px  rgba(254, 201, 154, 0.212) ;
    


    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.thumnail{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    
}

.thumnail-row{
    overflow: hidden;
    min-height: 250px;
}

.project-preview{
    display:flex;
    flex-direction: column;
    
    padding: 20px 10px;
   
   
    background: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    box-shadow: 1px 1px 20px  rgba(255, 95, 162, 0.283), -1px -1px 20px  rgba(254, 201, 154, 0.215) ;
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-preview:hover{
    box-shadow: 1px 1px 10px red,-1px -1px 10px blue;
  
}

.project-preview:hover .fa-arrow-up-long{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
       
    transform: rotate(50deg);
}

.project-preview:hover .thumnail{
    scale: 1.1;
}


.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 60px;
    
    height: fit-content;
    width: 60%;
    margin: 80px auto;
    
}

@media (max-width:768px){
    .projects-grid{
        display: grid;
        grid-template-columns: 1fr;
        width: 65%;  
    }

    
    .fa-arrow-up-long{
        font-size: 1.5rem;
       
        padding: 6px 10px;
        right: -30px;
       
    }
    
    
    .project-title{
        font-size: 1.2rem;
       
    }
    .project-detail{
        font-size: 1rem;
    
    }
}
/* CONTACTS CSS */
.contacts-container{
    background-image: url(project-thumnails/pawel-czerwinski-ZkzobNDayXo-unsplash.jpg);
    background-position: left;
    height: 100vh;
    align-content: center;
    
}
.all-contacts{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 16px;
    color: aliceblue;
   }

.contact-left-section{
   
    background-position: bottom;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.43);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 40px 10px;

}

.contact-left-section p{
    margin: 20px 0;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

.contact-left-section h2{
     font-family: "Playwrite US Trad", cursive;;
}

.all-icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.icon-container{
    background-color: rgb(0, 0, 0);
    
    padding: 5px 8px;
}

.icon-container i{
    font-size: 12px;
    color: aliceblue;
}


.contact-right-section{
   
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:20px 20px;
    
}

.contact-right-section h2{
    text-align: center;
}


.contact-right-section input{
    border-radius: 16px;
    height: 30px;
    width: 100%;
    margin: 10px 0;
    border: none;
    padding-left:40px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.contact-right-section button{
    border-radius: 16px;
    height: 30px;
    width: 100%;
    margin: 10px 0;
    border: none;
  
}

.email{
    position: relative;
}

.phone{
    position: relative;
}
.email-icon,.phone-icon,.first{
    position: absolute;
    font-size: 1rem;
    top:16px;
    left: 1.5%;
    color: rgb(255, 255, 255);
}

.second{
    position: absolute;
    font-size: 1rem;
    top:16px;
    left:51.5%;
    color: rgb(255, 255, 255);
}



.contact-right-section textarea{
    border-radius: 16px;
    width: 100%;
    height: 200px;
    padding: 20px 30px;
   
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.first-and-last-name-container{
    display: flex;
    gap: 5px;
    position: relative;
}



.contact-right-section input::placeholder{
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.contact-right-section textarea::placeholder{
    font-size:1rem;
    color: rgb(255, 255, 255);
}


.contact-right-section button{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
}

@media (max-width:768px){
    .email-icon,.phone-icon,.first{
        position: absolute;
        font-size: 1rem;
        top:16px;
        left: 4%;
        color: rgb(255, 255, 255);
    }
    
    .second{
        position: absolute;
        font-size: 1rem;
        top:16px;
        left:54%;
        color: rgb(255, 255, 255);
    }

    .contact-right-section textarea{
        height: 180px;
    }
    .contact-left-section{
   
        display: none;
        
    }

    .contact-right-section{
   
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.2px);
        -webkit-backdrop-filter: blur(10.2px);
        border: 1px solid rgba(255, 255, 255, 0.43);
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:20px 20px;
        
    }
    
}




/* FOOTER CSS */

footer{
    background-color: black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
   
}

.socials i{
    font-size:1rem;
    color: aliceblue;
}

.footer-links{
    font-size: 1rem;
    font-weight: 600;
    margin: 20px 0;
}
.footer-links a{
    color: aliceblue;
    margin: 0 10px;
}

.divider{
    height: 1px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    width: 50%;
    margin: 0 auto;
}

.copyright{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   color: aliceblue;
   font-size: 0.6rem;
}

/* @media (max-width:1500px){
    .divider{
        height: 2px;
    }

    .footer-links{
        gap: 100px;
    }
} */




  


   





