/* General CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}


.general-button{
    width: 200px;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    padding: 0 1.2em;
    margin-top: 60px;
    display: block;
}

.general-button:hover{
    background-color: rgb(98, 98, 98);
    color: aliceblue;
}

.back-to-top{
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
    bottom: 40px;
    z-index: 97;
}

.back-to-top a i{
    font-size: 3rem;
    transform: rotate(-90deg);
}

.signature{
    position: absolute;
    top: 20px;
    left: 10px;
}

/* NAVIGATION CSS START */

#click:checked ~.nav-links{
    right: 0px;
}

#click:checked ~ #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
   
}


.navigation input{
    display: none;
}


.nav-links{

    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 0px 0 200px;
    position: fixed;
    right: -2000px;
    top: 0;
    justify-content: center;
    transition: 0.5s ease;
    z-index: 100;

    
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    
  
}

a,i,.menu{
    color: rgb(0, 0, 0);
}

.nav-links a:not(.menu){
    font-size: 5rem;
    
}

.nav-links li i{
    font-size: 3rem;
}

.nav-links li{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 20px;
    gap: 40px;
    list-style: none;
   
}

.nav-links a::after{
    content:attr(data-text);
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    transform: rotate(80deg) scale(1);
    bottom: 35%;
    right:20%;
    color: transparent;
    -webkit-text-stroke: 2px lightcoral;
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li a:hover::after {
    opacity: 1;
    transform: rotate(90deg) scale(2.0);
}

.menu{
    font-size: 10rem;
   
}

.fa-bars{
    color:black;
    font-size: 3rem;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 10px 20px; 
    border-radius: 16px;
    position: fixed;
    right: 40px;
    top:40px;
    z-index: 99;
}

.fa-xmark{
    font-size: 3rem;
    position: absolute;
    top:20px;
    left: 20px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 3px 8px;
    border-radius: 50px;
}

.fa-xmark:hover{
    background: rgb(214, 0, 0);
    color: rgb(255, 255, 255);
}



@media (max-width:1500px){
    
   
    .nav-links{
       padding: 30px 0px 0 80px;
       width: 600px;
    }
    .nav-links a:not(.menu){
        font-size: 3.5rem;
    }
    
    .nav-links li i{
        font-size: 2rem;
    }
    
    .nav-links li{
        margin: 20px 0;
    }

    .nav-links a::after{
       
        bottom: 37%;
        right:10%;
       
    }

    .nav-links li a:hover::after {
        opacity: 1;
        transform: rotate(90deg) scale(2.5);
    }
}

/* NAVIGATION CSS END */

/* HERO SECTION START */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    
   
}

h1{
    font-size: 20rem;
    font-weight: 500;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero-content p{
    font-size: 2.2rem;
}

h1,.hero-content p{
    text-align: center;
    
}

.hero-buttons{
  text-align: center;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.hero-buttons button{
    width: 200px;
    height: 60px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    padding: 0 1.2em;
    margin-top: 60px;
}

.connect-button{
    box-shadow: 3px 3px 6px  rgb(255, 95, 162),-3px -3px 6px  rgb(254, 201, 154);
}

.connect-button:hover{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    color: aliceblue;
    box-shadow: none;
}

@media (max-width:1500px){
    
    h1{
        font-size: 12rem;
        font-weight: 500;
        line-height: 150px;
    }
    .hero-content p{
        font-size: 1.8rem;
    } 

    .hero-content p:first-of-type{
        margin: 70px 0 40px 0;
    } 
    .hero-content p:last-of-type{
        width: 60%;
        margin: 0 auto;
    } 

    .hero-buttons{
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero-buttons button{
        margin-top: 0px;
    }
        
    
    
}
    



/* HERO SECTION END */

/* SKILL SECTION START */


.figma{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.framer{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}
.html{
    display: grid;
    grid-template-columns: 3fr 1fr;
   
}
.css{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.javascript{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tailwind{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.percentage-can{
    
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.percentage-cant{
    background-color: rgba(107, 107, 107, 0.361);
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.skill-states h3{
    margin: 30px 0;
}

.my-skills-container h2{
    font-size: 48px;
    font-weight: 600;
}

.my-skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 300px;
    align-items: end;
    width: 60%;
    justify-content: center;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: aliceblue;
   
}
.skills-heading{
    font-size: 5rem;
    font-weight: 700;
}

@media (max-width:1500px){
    .my-skills-container{
        width: 75%;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
/* SKILL SECTION END */

/* ABOUT ME START */


.about-me-container h2{
    font-size: 5rem;
    margin: 0 auto;
   
}
.about{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    padding: 30px 0;
    height: 100vh;
}


.about-me-container{
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 0 60px;
    height: 90vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 60px auto;
    position: relative;
   
   
    background: rgba(255, 255, 255, 0.39);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.about-me-container ul li{
    font-size: 2rem;
    margin: 40px 0;
   
}
.about-me-container ul {
    margin: 40px 0;
    padding: 0 30px;
    list-style: none;
   
}

@media (max-width:1500px){
    .about-me-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 35px 0;
        width: 80%;
    } 

    .about-me-container h2{
        font-size: 4rem;
        text-align: center;
    }
    

    .general-button{
        margin: 0 auto;
    }
}
/* ABOUT ME END */
 

/* PROJECTS CSS */
.project-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.fa-arrow-up-long{
    color: black;
    font-size: 3rem;
    transform: rotate(90deg);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(255, 95, 162),-1px -1px 10px  rgb(254, 201, 154) ;

    padding: 20px 25px;
    border-radius: 100px;
    position: absolute;
    right: -50px;
    bottom:1px;
    transition: all 0.3s ease;
}

.project-title{
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
}
.project-detail{
    font-size: 1.6rem;
    margin-top: 30px;
}

.project-stats{
    margin: 20px auto 0 auto;
    font-size: 1.4rem;
    width: fit-content;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    box-shadow: 1px 1px 10px  rgba(255, 95, 162, 0.212), -1px -1px 10px  rgba(254, 201, 154, 0.212) ;
    


    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.thumnail{
    width:100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    
}

.thumnail-row{
    overflow: hidden;
}

.project-preview{
    display:flex;
    flex-direction: column;
    
    padding: 20px 10px;
    height: 800px;
   
    background: rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    box-shadow: 1px 1px 20px  rgba(255, 95, 162, 0.283), -1px -1px 20px  rgba(254, 201, 154, 0.215) ;
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-preview:hover{
    box-shadow: 1px 1px 10px red,-1px -1px 10px blue;
  
}

.project-preview:hover .fa-arrow-up-long{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
       
    transform: rotate(50deg);
}

.project-preview:hover .thumnail{
    scale: 1.1;
}


.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 80px;
    padding: 150px 40px;
    height: fit-content;
    width: 60%;
    margin: 0 auto;
    
}

@media (max-width:1500px){
    .projects-grid{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;  
    }
    
}
/* CONTACTS CSS */
.contacts-container{
    background-image: url(project-thumnails/bg-purple.jpg);
    background-position: bottom;
    height: 100vh;
    align-content: center;
    
}
.all-contacts{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 16px;
    /* box-shadow: 1px 1px 10px red,-1px -1px 10px  blue; */
    color: aliceblue;
   }

.contact-left-section{
    background-image: url(project-thumnails/bg-purple.jpg);
    background-position: bottom;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.43);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 60px 20px;

}

.contact-left-section p{
    margin: 20px 0;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.contact-left-section h2{
     font-family: "Playwrite US Trad", cursive;;
}

.all-icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.icon-container{
    background-color: rgb(0, 0, 0);
    
    padding: 10px;
}

.icon-container i{
    font-size: 24px;
    color: aliceblue;
}


.contact-right-section{
   
    background: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;

   
}
.contact-right-section h2{
    margin: 0 auto;
}

.contact-right-section input,button{
    border-radius: 16px;
    height: 60px;
    width: 100%;
    margin: 30px 0;
    border: none;
    padding: 0 70px;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   
}
.email{
    position: relative;
}
.email-icon{
    position: absolute;
    font-size: 30px;
    top:43px;
    left: 20px;
    color: rgb(255, 255, 255);
}
.phone{
    position: relative;
}

.phone-icon{
    position: absolute;
    font-size: 30px;
    top:43px;
    left: 20px;
    color: rgb(255, 255, 255);
}
.contact-right-section textarea{
    border-radius: 16px;
    width: 100%;
    height: 420px;
    padding: 20px 30px;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 0.43);
}
.first-and-last-name-container{
    display: flex;
    gap: 20px;
    position: relative;
}
.first{
    position: absolute;
    font-size: 30px;
    top:43px;
    left: 20px;
    color: rgb(255, 255, 255);
}
.last{
    position: absolute;
    font-size: 30px;
    top:43px;
    left: 52.5%;
    color: rgb(255, 255, 255);
}

.contact-right-section input::placeholder{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.contact-right-section textarea::placeholder{
    font-size: 20px;
    color: rgb(255, 255, 255);
}


.contact-right-section button{
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
}

@media (max-width:1500px){
    .last{
        position: absolute;
        font-size: 30px;
        top:43px;
        left: 55%;
        color: rgb(255, 255, 255);
    } 

    .contact-right-section input,button{
       padding: 0 60px; 
    }
}




/* FOOTER CSS */

footer{
    background-color: black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
   
}

.socials i{
    font-size: 24px;
    color: aliceblue;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 140px;
    font-size: 24px;
    font-weight: 600;
    margin: 40px 0;
}
.footer-links a{
    color: aliceblue;
}

.divider{
    height: 1px;
    background: linear-gradient(104.9deg, rgb(255, 95, 162) 2.3%, rgb(254, 201, 154) 92.7%);
    width: 50%;
    margin: 0 auto;
}

.copyright{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   color: aliceblue;
}

@media (max-width:1500px){
    .divider{
        height: 2px;
    }

    .footer-links{
        gap: 100px;
    }
}




  


   





